.modal-content {
  width: 450px;
  height: 600px;
  padding: 5px;
}

.modal-header {
  margin: 2px;
}
.Create {
  width: 450px;
  padding: 5px;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.OptionBtn {
  justify-content: center;
  display: flex;
  margin-top: 80px;
  gap: 10px;
}
.photo {
  height: 200px;
  width: 150px;
  object-fit: fill;
}
.texttabele {
  text-align: center;
}
tr th {
  text-align: center;
}
tr td {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}
.slika {
  display: flex;
  justify-content: center;
}
